@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5)),
    url(menu/pic.jpg);
  background-size: cover;
  background-position: center;
}
.contact-tittle {
  color:black;
  text-transform: uppercase;
  transition: all 4 ease-in-out;
 font-family: 'Montserrat',
 sans-serif;

}
.contact-tittle h1 {
  font-size: 32px;
  line-height: 10px;
}
.contact-tittle h2 {
  font-size: 16px;
}
/* form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
*/
/* .form-control {
  width: 600px;
  background: yellowgreen;
  border: none;
  outline: none;
  border: bottom 1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}

*/
/* input {
  height: 45px;
}
form.submit {
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font: size 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50;
  margin-top: top 20px;
}

form.submit:hover {
  background-color: tomato;
  cursor: pointer;
}

*/ .form-custom {
  width: 50%;
  margin: auto;


  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}